body {
    background: #133;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  canvas {
    background: #222;
    margin-top: 10px;
  }